<div id="user-pictures-container">
    <div class="w-full grid grid-cols-4 place-content-center gap-4">

        {% for picture in privatePictures %}
        
        {% include "./components/settings/picture_slideshow_component.twig" with {picture: picture} %}

        {% endfor %}
    </div>
</div>