<div class="flex flex-col justify-between items-center h-screen bg-cover bg-no-repeat" style="background-image: url('https://www.guide-charente-maritime.com/_bibli/articlesPage/211/images/adobestock-delphotostock-la-rochelle.jpg?v=ficheArticle&width=509&height=275&pixelRatio=2.6250');">

    <main class="module flex flex-row justify-between my-10 w-3/4 h-3/4 rounded-3xl backdrop-blur-sm bg-stone-800/[.6] text-gray-300">
        <div class="relative w-1/4 h-full py-6 bg-stone-900/[.8] rounded-l-3xl text-xl">
            <img class="block w-44 h-44 mx-auto rounded-full object-cover border-2 border-solid border-white" src="./vendor/zafkiel/core/src/templates/profile_picture.png" alt="Photo de profil" />

            <div class="flex flex-col justify-between items-center w-full my-4">
                <ul class="list-none">
                    <li>
                        <i class="fa-solid fa-gear"></i>&nbsp;&nbsp;Settings
                    </li>

                    <li class="my-6">
                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;My profile
                    </li>

                    <li>
                        <i class="fa-solid fa-user-lock"></i>&nbsp;&nbsp;Administrators
                    </li>
                </ul>
            </div>

            <button class="absolute bottom-4 left-1/2 translate-x-[-50%] w-2/4 mx-auto px-4 py-2 rounded-md bg-red-800">
                <i class="fa-solid fa-power-off"></i>&nbsp;&nbsp;Log out
            </button>
        </div>

        <div class="w-3/4">
            <form action="#" method="POST" class="w-full" onsubmit="displayResults(event);">
                
                <div class="relative w-2/4 mx-auto my-8">
                    <input type="search" list="services-list" id="search-service" name="search-service" placeholder="Search for a service..." class="absolute left-1/2 translate-x-[-50%] w-full rounded-xl px-4 py-2 bg-stone-800" onkeyup="displayResults(event)" />

                    <button class="absolute right-3 translate-y-1/3" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <datalist id="services-list">
                    {% for module, key in modules['items'] %}

                    <option value="{{ module }}" data-path="{{ modules['moduleIconsPath'] }}/{{ key['path']}}">{{ key['name'] }}</option>

                    {% endfor %}
                </datalist>
            </form>

            <div class="w-4/5 mx-auto mt-28">
                <p class="w-full font-semibold text-2xl">
                    My services
                </p>
            </div>

            <div id="services-container" class="grid grid-cols-3 gap-x-6 w-4/5 h-3/5 mx-auto overflow-y-auto">
                {% for key, module in modules['items'] %}

                <div class="p-4" onclick="displayModule(event, '{{ module["name"] }}');">
                    <img class="block w-28 h-28 mx-auto rounded-full" src="{{ modules['moduleIconsPath'] }}/{{ module['path'] }}" alt="Icon for service: {{ module['name'] }}" />

                    <p class="font-semibold text-center mt-2 text-lg">
                        {{ module['name'] }}
                    </p>
                </div>

                {% endfor %}
            </div>
        </div>
    </main>

    <footer class="w-full h-16 backdrop-blur-sm bg-stone-800/[.8] text-gray-300">
        <div class="flex flex-row justify-start items-center gap-x-6 w-4/5 h-full mx-auto text-3xl">
            <img class="w-auto h-full p-2 hover:bg-gray-400/[.4]" src="./vendor/zafkiel/core/src/templates/img/zafkiel_logo.png" alt="Zafkiel logo." />

            <div class="flex flex-row items-center gap-x-0.5 h-full border-x-2 border-solid px-6">
                <i class="fa-solid fa-power-off items-center h-full p-4 hover:bg-gray-400/[.4]" style="display: flex;"></i>
                <i class="fa-solid fa-user items-center h-full p-4 hover:bg-gray-400/[.4]" style="display: flex;"></i>
                <i class="fa-solid fa-arrow-right-arrow-left items-center h-full p-4 hover:bg-gray-400/[.4]" style="display: flex;"></i>
            </div>

            <div class="flex flex-row justify-start items-start gap-x-0.5">
                {% for key, module in modules['items'] %}

                {% if module['pinned'] %}

                <div class="p-2 hover:bg-gray-400/[.4]" onclick="openService(event, '{{ key }}')">
                    <img class="w-12 h-12" src="{{ modules['moduleIconsPath'] }}/{{ module['path'] }}" alt="Icon for service : {{ module['name'] }}" />
                </div>

                {% endif %}

                {% endfor %}
            </div>
        </div>
    </footer>
</div>