<div class="flex flex-row justify-between items-start h-96 mt-4 text-stone-800">
    <div class="h-full border-r-2 border-r-solid border-r-gray-400">
        <ul>
            <li class="slideshow-tab-link p-4 pr-6 hover:bg-gray-200 hover:cursor-pointer">Default pictures</li>
            <li class="slideshow-tab-link p-4 pr-6 hover:bg-gray-200 hover:cursor-pointer" onclick="refreshUserPictures(event, '{{ name }}', '{{ api_key }}')">My gallery</li>
            <li class="slideshow-tab-link p-4 pr-6 hover:bg-gray-200 hover:cursor-pointer">Upload a picture</li>
        </ul>
    </div>

    <div class="p-4 h-full overflow-y-auto">
        <div id="default-pictures" class="slideshow-tab-content">
            <p class="font-semibold text-3xl">
                Default pictures
            </p>
            
            <div class="flex flex-row justify-end items-center w-full">
                <button class="px-4 py-2 bg-gray-400 rounded-md border-2 border-solid border-transparent hover:border-gray-400 hover:bg-transparent hover:cursor-pointer transition-all">
                    Submit
                </button>
            </div>

            {% for key, pictureGroup in slideshow_pictures %}
                <div>
                    <p data-country="{{ key }}" class="font-semibold text-xl mb-2">
                        {{ key }}
                    </p>

                    <div class="w-full grid grid-cols-4 place-content-center gap-4">
                        
                        {% for picture in pictureGroup %}

                        <div class="w-32 h-40 p-2 {{ (picture['filename'] in additionnal_data['preferences']['backgroundPictures']) ? 'selected-picture-slideshow' : '' }} hover:cursor-pointer group" onclick="selectImageForSlideshow(event);">

                            <img class="w-full h-28 object-cover" src="{{ picture['path'] }}" alt="" />

                            <p class="text-center group-hover:underline group-hover:font-semibold">
                                {{ picture['filename'] }}
                            </p>

                        </div>
                            
                        {% endfor %}

                    </div>
                </div>

            {% endfor %}

            <div class="my-4">
                <div class="flex flex-row justify-end items-center w-full">
                    <button class="px-4 py-2 bg-gray-400 rounded-md border-2 border-solid border-transparent hover:border-gray-400 hover:bg-transparent hover:cursor-pointer transition-all">
                        Submit
                    </button>
                </div>
            </div>
        </div>

        <div id="user-pictures" class="slideshow-tab-content hidden">
            
        </div>

        <div id="upload-picture" class="slideshow-tab-content hidden">

        </div>
    </div>
</div>