<div class="pb-4" id="toggle-pictures-slideshow">

	{% include './html/components/settings/pictures_options.html' with {'name': name, 'api_key': api_key} %}

	<div id="default-pictures" class="slideshow-tab-content">
		<p class="font-semibold text-3xl">Default pictures</p>
		
		{% for key, pictureGroup in slideshow_pictures['default_pictures'] %}
			<div>
				<p data-country="{{ key }}" class="font-semibold text-xl my-4">
					{{ key }}
				</p>

				<div class="w-full grid grid-cols-4 place-content-center gap-4">
					{% for picture in pictureGroup %}

						{% include "./html/components/settings/picture_slideshow_component.html" with {picture: picture} %}
					{% endfor %}
				</div>
			</div>

		{% endfor %}
	</div>

	<div id="user-pictures" class="slideshow-tab-content hidden">
		<p class="font-semibold text-3xl mb-4">
			My pictures
		</p>
		
		<div id="user-pictures-container" class="w-full grid grid-cols-4 place-content-center gap-4">
			
			{% for picture in slideshow_pictures['user_pictures'] %}

			{% include "./html/components/settings/picture_slideshow_component.html" with {picture: picture} %}

			{% endfor %}
		</div>
	</div>

	{% include './html/components/settings/pictures_options.html' with {'name':name, 'api_key': api_key} %}
</div>

<div id="upload-picture" class="slideshow-tab-content hidden w-full">
	<p class="font-semibold text-3xl mb-4">Upload a picture</p>

	<form id="user-pictures-uploader" class="w-full" onsubmit="uploadSlideshowPicture(event, '{{ name }}', '{{ api_key }}');">
		<label for="upload-file-input">
			<p type="button" class="block w-fit mx-auto p-4 bg-transparent border-gray-200 border-solid border-2 hover:bg-gray-200 hover:cursor-pointer">
				Choose a picture
			</p>
		</label>
		<input type="file" id="upload-file-input" class="hidden" onchange="showPicturePreview(event, 'preview-uploaded-file');"/>

		<div class="w-full">
			<p class="font-semibold text-xl my-4">Picture preview</p>
			<img id="preview-uploaded-file" class="hidden w-full h-56 object-cover" src="" alt=""/>
		</div>

		<input type="submit" id="upload-picture-btn" class="w-full p-4 bg-transparent border-gray-400 border-solid border-2 hover:bg-gray-400 hover:cursor-pointer transition-all" value="Choose this picture"/>
	</form>
</div>
