<div class="flex flex-row justify-between items-start h-96 mt-4 text-stone-800">
    <div class="w-1/4 h-full border-r-2 border-r-solid border-r-gray-400">
        <ul>
            <li class="slideshow-tab-link p-4 pr-6 hover:bg-gray-200 hover:cursor-pointer" onclick="displayTab(event, 'slideshow', 'default-pictures'); toggleSlideshowGallery('on');">Default pictures</li>
            <li class="slideshow-tab-link p-4 pr-6 hover:bg-gray-200 hover:cursor-pointer" onclick="refreshUserPictures(event, '{{ name }}', '{{ api_key }}'); toggleSlideshowGallery('on');">My gallery</li>
            <li class="slideshow-tab-link p-4 pr-6 hover:bg-gray-200 hover:cursor-pointer" onclick="displayTab(event, 'slideshow', 'upload-picture'); toggleSlideshowGallery('off');">Upload a picture</li>
        </ul>
    </div>

    <div class="w-3/4 p-4 h-full overflow-y-auto">
        <div id="toggle-pictures-slideshow">
                
            <div class="flex flex-row justify-end items-center w-full">
                <button class="px-4 py-2 bg-gray-400 rounded-md border-2 border-solid border-transparent hover:border-gray-400 hover:bg-transparent hover:cursor-pointer transition-all" onclick="updateSlideshowPictures('{{ name }}', '{{ api_key }}');">
                    Submit
                </button>
            </div>

            <div id="default-pictures" class="slideshow-tab-content">
                <p class="font-semibold text-3xl">
                    Default pictures
                </p>

                {% for key, pictureGroup in slideshow_pictures %}
                    <div>
                        <p data-country="{{ key }}" class="font-semibold text-xl my-4">
                            {{ key }}
                        </p>

                        <div class="w-full grid grid-cols-4 place-content-center gap-4">
                            
                            {% for picture in pictureGroup %}

                            {% include "./html/components/settings/picture_slideshow_component.html" with {picture: picture} %}
                                
                            {% endfor %}

                        </div>
                    </div>

                {% endfor %}
            </div>

            <div id="user-pictures" class="slideshow-tab-content hidden">
                
            </div>
            
            <div class="my-4">
                <div class="flex flex-row justify-end items-center w-full">
                    <button class="px-4 py-2 bg-gray-400 rounded-md border-2 border-solid border-transparent hover:border-gray-400 hover:bg-transparent hover:cursor-pointer transition-all" onclick="updateSlideshowPictures('{{ name }}', '{{ api_key }}');">
                        Submit
                    </button>
                </div>
            </div>
        </div>

        <div id="upload-picture" class="slideshow-tab-content hidden w-full">
            <p class="font-semibold text-3xl mb-4">
                Upload a picture
            </p>
            
            <form id="user-pictures-container" class="w-full">
                <label for="upload-file-input">
                    <p type="button" class="block w-fit mx-auto p-4 bg-transparent border-gray-200 border-solid border-2 hover:bg-gray-200 hover:cursor-pointer">
                        Choose a picture
                    </p>
                </label>
                <input type="file" id="upload-file-input" class="hidden" onchange="showPicturePreview(event, 'preview-uploaded-file');" />
            </form>

            <div class="w-full">
                <p class="font-semibold text-xl my-4">
                    Picture preview
                </p>
                <img id="preview-uploaded-file" class="hidden w-full h-56 object-cover" src="" alt="" />
            </div>
        </div>
    </div>
</div>